[**Rimor API Documentation v0.8.0**](../README.md)

***

[Rimor API Documentation](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: plugins/index.ts:176

検証結果

## Properties

### errors?

> `optional` **errors**: `object`[]

Defined in: plugins/index.ts:180

エラー

#### code?

> `optional` **code**: `string`

#### message

> **message**: `string`

#### path

> **path**: `string`

***

### valid

> **valid**: `boolean`

Defined in: plugins/index.ts:178

有効かどうか

***

### warnings?

> `optional` **warnings**: `object`[]

Defined in: plugins/index.ts:186

警告

#### message

> **message**: `string`

#### path

> **path**: `string`
